#pycache

/__pycache__
/a_data_acquisition/__pycache__
/b_policy/__pycache__
/c_action_remap/__pycache__
/d_data_analysis/__pycache__

# data directory
/data
/runs
/train_expert
/video

# csv files
*.csv

# sh files
/scripts/*.sh

# config directory
/b_policy/configs
/c_action_remap/configs

# Dummy ipynb file
Analysis.ipynb